.textClass {
    white-space: pre-wrap;
}

.size_big {
    font-size: 24px;
}

.size_h2 {
    font-size: 20px;
}

.size_h3 {
    font-size: 18px;
}

.size_h4 {
    font-size: 16px;
}

.size_h5 {
    font-size: 14px;
}

.weight_regular {
    font-weight: 500;
}

.weight_slim {
    font-weight: 400;
}

.weight_bold {
    font-weight: 700;
}

.weight_ultra_slim {
    font-weight: 300;
}